* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  color: white;
  max-width: 200px;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  object-position: top;
}

#theRoot  {
  width: 100%;
  background: #000;
}

#main {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.card {
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #ffffff60;
}