* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: url(https://w0.peakpx.com/wallpaper/518/1005/HD-wallpaper-vecna-in-stranger-things-4.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  width: 80%;
  margin: 10px;
  background: #000000e8;
  border-radius: 100px;
  border: rgba(255, 255, 255, 0.254) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 30px;
  position: fixed;
  margin-bottom: 1000px;
}

input {
  width: 300px;
  height: 20px;
  padding: 10px;
  font-size: 17px;
  border-radius: 100px;
  outline: none;
  border: rgb(140, 10, 10) 1px solid;
  background: #000;
  color: red;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

#logo {
  width: 150px;
  height: auto;
}

h1,
h2,
h3,
p {
  color: white;
  max-width: 210px;
  margin: auto;
  background: transparent;
}

#about {
  text-align: start;
  text-transform: uppercase;
  line-height: 24px;
}

#place,
#name {
  text-transform: uppercase;
}

img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  object-position: top;
}

#theRoot {
  width: 100%;
}

#navId {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 120px;
}

#main {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #ffffff60;
  background: #000000b6;
}
